/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Generic PBS/Torque executor profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Combine with a software profile, for example:
      -profile pbs,conda
      -profile pbs,singularity
----------------------------------------------------------------------------------------
*/

process {
    executor = 'pbs'
    queue = params.pbs_queue
    clusterOptions = [
        params.pbs_account ? "-A ${params.pbs_account}" : '',
        params.pbs_cluster_options ?: ''
    ].findAll { it }.join(' ')

    withLabel:process_gpu {
        clusterOptions = [
            params.pbs_account ? "-A ${params.pbs_account}" : '',
            params.pbs_cluster_options ?: '',
            params.pbs_gpu_cluster_options
                ? params.pbs_gpu_cluster_options.replace('{gpu_count}', params.gpu_count.toString())
                : ''
        ].findAll { it }.join(' ')
    }
}

executor {
    queueSize = params.pbs_queue_size
}
