/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Generic PBS Pro executor profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Combine with a software profile, for example:
      -profile pbspro,conda
      -profile pbspro,singularity
----------------------------------------------------------------------------------------
*/

process {
    executor = 'pbspro'
    queue = params.pbspro_queue
    clusterOptions = [
        params.pbspro_account ? "-A ${params.pbspro_account}" : '',
        params.pbspro_cluster_options ?: ''
    ].findAll { it }.join(' ')

    withLabel:process_gpu {
        clusterOptions = [
            params.pbspro_account ? "-A ${params.pbspro_account}" : '',
            params.pbspro_cluster_options ?: '',
            params.pbspro_gpu_cluster_options
                ? params.pbspro_gpu_cluster_options.replace('{gpu_count}', params.gpu_count.toString())
                : ''
        ].findAll { it }.join(' ')
    }
}

executor {
    queueSize = params.pbspro_queue_size
}
