/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Generic SGE executor profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Combine with a software profile, for example:
      -profile sge,conda
      -profile sge,singularity
----------------------------------------------------------------------------------------
*/

process {
    executor = 'sge'
    queue = params.sge_queue
    penv = params.sge_penv
    clusterOptions = [
        params.sge_project ? "-P ${params.sge_project}" : '',
        params.sge_cluster_options ?: ''
    ].findAll { it }.join(' ')

    withLabel:process_gpu {
        clusterOptions = [
            params.sge_project ? "-P ${params.sge_project}" : '',
            params.sge_cluster_options ?: '',
            params.sge_gpu_cluster_options
                ? params.sge_gpu_cluster_options.replace('{gpu_count}', params.gpu_count.toString())
                : ''
        ].findAll { it }.join(' ')
    }
}

executor {
    queueSize = params.sge_queue_size
}
