/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Generic Slurm executor profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Combine with a software profile, for example:
      -profile slurm,conda
      -profile slurm,apptainer
----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm'
    queue = params.slurm_queue
    clusterOptions = [
        params.slurm_account ? "--account=${params.slurm_account}" : '',
        params.slurm_qos ? "--qos=${params.slurm_qos}" : ''
    ].findAll { it }.join(' ')

    withLabel:process_gpu {
        clusterOptions = [
            params.slurm_account ? "--account=${params.slurm_account}" : '',
            params.slurm_qos ? "--qos=${params.slurm_qos}" : '',
            "--gres=gpu:${params.gpu_count}"
        ].findAll { it }.join(' ')
    }
}

executor {
    queueSize = params.slurm_queue_size
}
